.header{
	text-align:center;
	background-color:#6b6969;
	height:40px;
	color:#fff;
}
div.container {
        width: 90%;
    }
    
      body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
nav{
	background-color:#000!important;
}
.page-footer{
	background-color:#000!important;
}
/*  .brand-logo{
	    font-family: serif !important;
	        margin-left: 88px;
}  */
.img-width{
	width:25%;
}
  main {
    flex: 1 0 auto;
  }
th{
	background-color: #26a69a;
	color: #fff;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#fff; 
     text-decoration:none; 
     cursor:pointer;  
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6b6969;
    color: white;
    text-align: center;
}
.tableContainer{
	margin-top:21px;
	margin-bottom:21px;
}
table{
	    margin-bottom: 15px;
}
.tableStyle{
	font-size: 13px;
	width:100%;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.tag-box{
	padding: 20px;
    margin-bottom: 30px;
}

.tag-box-v2{
	border-left: solid 2px #3498db;
	background: #fafafa;
    border: solid 1px #eee;
}

.loader{
position: absolute;
top :0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}

.modalHeader{
	text-align: center;
    font-size: 150%;
    margin: 0px 0px 20px 0px;
    padding: 15px;
    background-color: #26a69a;
    color: #fff;
    font-weight: 600;
}

.addButton{
	color: #fff !important;
} 	
.pointer{
	cursor: pointer;
}
.txtWhite{
	color:#fff!important;
}
.deletemodal { width: 30% !important ; height: 30% !important ; } 
.deleteModalRow{
	margin-top:20px;
}
.textCenter{
	text-align: center;
}
.projectHeading{
	display: inline-block;
    left: 28%;
    position: absolute;
    font-family: serif;
    font-weight: bolder;
    font-size:25px;
}
.activeTab{
	background-color:#c62828;
}
.projectDetailsRow input{
	width: 50%!importan;
}

.datepicker-table th{
	background-color: #fff !important;
}

.file-field {
	display: inline-flex;
    width: 40%;
    margin-right: 10px;
}
.fileUploadButton{
	    margin: 0px 10px 0px 10px;
}

.uploadExcelRow{
	margin-top:-25px;
	margin-bottom:0px!important;
}