		
		<div class="row">
	      <div class="col s12"> <h4>Project Details</h4></div>
	      <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search</label>
        </div>
   		</div>
   		
   		<div class="row">
        	<div class="col s2">
  				<a class="waves-effect waves-light btn-small addButton" data-target="addProjectModel" ng-click="openModal()">ADD PROJECT</a>
        	</div>
                 	
        	<div class="col s2">
        	<div class="switch float-right">
			    <label>
			      <strong>Filter</strong> Off
			      <input type="checkbox" ng-model="tableFilter" ng-click="tableFileterChanged()">
			      <span class="lever"></span>
			      On
			    </label>
			</div>
        	</div>
        </div>
        
        <div class="row uploadExcelRow">
        	<div class="col s6">
               <div class = "file-field input-field">
               <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload Excel" />
                      
                  </div>
                  <div class = "fileUploadButton btn-small">
                     <span>Browse</span>
                     <input type = "file" select-ng-files ng-model="excelFile" />
                  </div>
                  <button class="btn-small waves-effect waves-light" ng-click="uploadExcel()" >upload
               	  </button>
                  
                  
                  
               </div>
               
        	</div>
        </div>
   		<div class="divider"></div>

		<table class="striped">
                    <thead>
                        <tr>
                       		<th width="6%">SL#</th>
                            <th width="8%">RTC ID</th>
                            <th width="20%">Project Name</th>
                            <th width="10%">CD Number</th>
                            <th width="10%">PM Name</th>
                            <th width="20%">PM Email</th>
                            <th width="10%">PJ Code</th>
                            <th width="10%">Creation Date</th>
                            <th width="6%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
	                    <tr ng-show="tableFilter">
							<td width="6%"></td>
							<td width="8%"><input type="text" ng-model="filterRTCID"/></td>
							<td width="20%"><input type="text" ng-model="filterPName"/></td>
							<td width="10%"><input type="text" ng-model="filterCDNumber"/></td>
							<td width="10%"><input type="text" ng-model="filterPMName"/></td>
							<td width="20%"><input type="text" ng-model="filterPMEmail"/></td>
							<td width="10%"><input type="text" ng-model="filterPJCode"/></td>
							<td width="10%"><input type="text" ng-model="filterCreationDate"/></td>
							<td width="6%"></td>
						</tr>
                        <tr class="projectDetailsRow" ng-repeat="p in projectDetails | filter:{ rtcId:filterRTCID,pName:filterPName,cdNumber:filterCDNumber,pmanagerName:filterPMName, pmanagerEmail:filterPMEmail, pjCode: filterPJCode, creationDate:filterCreationDate}">
                        	<td width="6%">{{$index+1}}</td>
                            <td width="8%">{{p.rtcId}}</td>
                            <td width="20%" ng-if="selectedIndex != $index">{{p.pName}}</td>
                            <td width="20%" ng-if="editMode && selectedIndex == $index"><input type="text" ng-model="p.pName"/></td>
                            <td width="10%" ng-if="selectedIndex != $index">{{p.cdNumber}}</td>
                            <td width="10%" ng-if="editMode && selectedIndex == $index"><input type="text" ng-model="p.cdNumber"/></td>
                            <td width="10%" ng-if="selectedIndex != $index">{{p.pmanagerName}}</td>
                            <td width="10%" ng-if="editMode && selectedIndex == $index"><input type="text" ng-model="p.pmanagerName"/></td>
                            <td width="20%" ng-if="selectedIndex != $index">{{p.pmanagerEmail}}</td>
                            <td width="20%" ng-if="editMode && selectedIndex == $index"><input type="text" ng-model="p.pmanagerEmail"/></td>
                            <td width="10%" ng-if="selectedIndex != $index">{{p.pjCode}}</td>
                            <td width="10%" ng-if="editMode && selectedIndex == $index"><input type="text" ng-model="p.pjCode"/></td>
                            <td width="10%">{{p.creationDate}}</td>
                            <td width="6%">
                    <!--        <i class="material-icons pointer" ng-click="updateThisRow($index)" ng-if="selectedIndex != $index">edit</i> -->
                    		<i class="material-icons pointer" data-target="updateProjectModal($index)" ng-click="open1Modal(p,$index)" ng-if="selectedIndex != $index">edit</i> 
                            <i class="material-icons pointer" ng-click="saveThisRow(p)" ng-if="editMode && selectedIndex == $index">done</i>
                            <i class="material-icons pointer" ng-click="deleteThisEntry(p.rtcId)">delete_forever</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="addProjectModel" class="modal addProjectModal">
			    <div class="modal-content">
			      <h6 class="modalHeader">ADD PROJECT</h6>
			      
			      	<div class="input-field">
			          <input id="rtc_id" type="text" ng-model="rtcId" class="validate">
			          <label for="rtc_id">RTC ID</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="project_name" ng-model="projectName" type="text" class="validate">
			          <label for="project_name">Project Name</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="cd_num" type="text" ng-model="cdNumber" class="validate">
			          <label for="cd_num">CD Number</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="pm_name" type="text" ng-model="pmName" class="validate">
			          <label for="pm_name">PM Name</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="pm_email" type="text" ng-model="pmEmail" class="validate">
			          <label for="pm_email">PM Email</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="pj_code" type="text" ng-model="pjCode" class="validate">
			          <label for="pj_code">PJ Code</label>
			        </div>
			        
			        <div class="input-field">
			        <label for="cre_date">Creation Date</label>
			          <input type="text" id="cre_date" ng-model="credate" class="datepicker">
			          
			        </div>

			        <div class="input-field">
			          <input id="sol_designer" type="text" ng-model="soldesigner" class="validate">
			          <label for="sol_designer">Solution Designer</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="test_lead" type="text" ng-model="testlead" class="validate">
			          <label for="test_lead">Test Lead</label>
			        </div>
			        
			        <div class="input-field">
			          <input id="ia_owner" type="text" ng-model="iaowner" class="validate">
			          <label for="ia_owner">IA Owner</label>
			        </div>
			        			        
			        <div class="input-field">
			          <input id="doc_link" type="text" ng-model="doclink" class="validate">
			          <label for="doc_link">Documents Link</label>
			        </div>	
			        
			        <div class="input-field">
			          <input id="comments" type="text" ng-model="comments" class="validate">
			          <label for="comments">Comments</label>
			        </div>			        		        
			        			        
			        			        
			    </div>
			    <div class="modal-footer">
			    
	<!--		    <label>Upload Excel</label>
               <div class = "file-field input-field">
                  <div class = "btn">
                     <span>Browse</span>
                     <input type = "file" select-ng-files ng-model="excelFile" />
                  </div>
                  
                  <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload file" />
                  </div>
               </div>
               <button class="btn waves-effect waves-light" ng-click="uploadExcel()" >upload</button> -->
			    <button class="btn waves-effect waves-light" type="submit" ng-click="submitProject()">Submit
    				<i class="material-icons right">send</i>
  				</button>
			    </div>
			  </div>
			  
			  <div id="deleteModal" class="modal deletemodal">
			    <div class="modal-content">
			      <p class="textCenter"><strong>Are you sure you want to delete this record?</strong></p>
			       <div class="row deleteModalRow">
			    	<div class="col s6"> <a class="waves-effect waves-light btn-small txtWhite" ng-click="deleteRecord()">Yes</a> </div>
			    	<div class="col s6"><a class="waves-effect waves-light btn-small txtWhite" ng-click="closeDeleteModal()">No</a> </div>
			    </div>
			    </div>
			    
			  </div>
  <!-- shamala to update the entry -->
  
             <div id="updateProjectModal" class="modal updateProjectModal">
			    <div class="modal-content">
			      <h6 class="modalHeader">View and update</h6>
			      
			      	<div>
			      		<label for="rtc_id_update">RTC ID</label>
			          	<input id="rtc_id_update" type="text" class="active" ng-model="UpdatertcId" disabled="disabled">
			        </div>
			        
			        <div>
			          <label for="project_name_update">Project Name</label>
			          <input id="project_name_update" ng-model="UpdatepName" type="text">
			        </div>
			        
			        <div>
			          <label for="cd_num">CD Number</label>
			          <input id="cd_num" type="text" ng-model="UpdatecdNumber">
			          
			        </div>
			        
			        <div>
			          <label for="pm_name">PM Name</label>
			          <input id="pm_name" type="text" ng-model="UpdatepmanagerName">
			          
			        </div>
			        
			        <div>
			        	<label for="pm_email">PM Email</label>
			          <input id="pm_email" type="text" ng-model="UpdatepmanagerEmail">
			          
			        </div>
			        
			        <div>
			        	<label for="pj_code">PJ Code</label>
			          <input id="pj_code" type="text" ng-model="UpdatepjCode">
			          
			        </div>
			        
			        <div>
			        	<label for="cre_date">Creation Date</label>
			          <input id="cre_date" type="text" ng-model="UpdatecreationDate" class="datepicker">
			          
			        </div>

			        <div>
			        <label for="sol_designer">Solution Designer</label>
			          <input id="sol_designer" type="text" ng-model="Updatesoldesigner">
			          
			        </div>
			        
			        <div>
			        <label for="test_lead">Test Lead</label>
			          <input id="test_lead" type="text" ng-model="Updatetestlead">
			          
			        </div>
			        
			        <div>
			        <label for="ia_owner">IA Owner</label>
			          <input id="ia_owner" type="text" ng-model="Updateiaowner">
			          
			        </div>
			        			        
			        <div>
			        <label for="doc_link">Documents Link</label>
			          <input id="doc_link" type="text" ng-model="Updatedoclink">
			          
			        </div>	
			        
			        <div>
			        <label for="comments">Comments</label>
			          <input id="comments" type="text" ng-model="Updatecomments">
			          			          
			        </div>		
					
					 <div class="input-field col s12">
						    <select>
						      <option value="" disabled selected>Choose your option</option>
						      <option value="1">Option 1</option>
						      <option value="2">Option 2</option>
						      <option value="3">Option 3</option>
						    </select>
						    <label>Materialize Select</label>
					 </div>
			        <!-- <div>
			        <label for="iastatus">IA Status</label>
			        
			        <input id="iastatus" type="text" ng-model="Updateiastatus">
			          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>IA Status</a>
			          
			            <ul id='dropdown1' class='dropdown-content'>
	    					<li><a>INITIATED</a></li>
	    					<li><a>SUBMITTED</a></li>
	    					<li><a>APPROVED</a></li>
	    					<li><a>REJECTED</a></li>
  						</ul>			          
			        </div>	 -->			        
	
			        	   		        
				<button class="btn btn-primary" type="submit" ng-click = "saveThisRow()"> Update </button>	    
  			</div>
  		</div>
  	
  
          <div class="row">
	      	<div class="col s12"></div>
	      </div>