
<div class="tag-box tag-box-v2" ng-if="showForm == true">
<form>
	<div class="form-group"> 
		<label for="full_name_id" class="control-label">RTC_ID</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="rtc_id" ng-model="rtc_id" placeholder="RTC ID">
	</div>	

	<div class="form-group">
		<label for="application" class="control-label">Application Name</label>
		<input type="text" ng-blur="onBlur()" class="form-control" id="applicationName" ng-model="applicationName" placeholder="Application name">
	</div>					
							
	<div class="form-group">
		<label for="analysis_id" class="control-label">Analysis</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="analysis" ng-model="analysis" placeholder="Analysis">
	</div>	

	<div class="form-group"> 
		<label for="prt_id" class="control-label">PRT</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="prt" ng-model="prt" placeholder="PRT">
	</div>									
	
	<div class="form-group"> 
		<label for="design_id" class="control-label">Design</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="design" ng-model="design" placeholder="Design">
	</div>		
	<div class="form-group">
		<label for="l2_id" class="control-label">L2 Effort</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="l2_effort" ng-model="l2_effort" placeholder="L2 Effort">
	</div>
	
	<div class="form-group">
		<label for="build_id" class="control-label">Build</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="build" ng-model="build" placeholder="Build">
	</div>
	
	<div class="form-group">
		<label for="st_id" class="control-label">System Testing</label>
		<input type="number" ng-blur="onBlur()" class="form-control" id="st" ng-model="st" placeholder="System Testing">
	</div>
		<div class="form-group">
			<label for="pm_id" class="control-label">PM Effort</label>
			<input type="number" class="form-control" id="pm_effort" ng-model="pm_effort" disabled>
		</div>
		
		<div class="form-group">
		<label for="misc_id" class="control-label">Misc Effort</label>
		<input type="number" class="form-control" id="misc_effort" ng-model="misc_effort" disabled>
	</div>
	<div class="form-group">
		<button type="submit" ng-click="submitDetails()" ng-model="submit" class="btn btn-primary" ng-disabled = "submitDisabled">Submit</button>
	</div>     
	<div class="alert alert-success" ng-show="showSuccess">
  		<strong>Success!</strong> Data has been saved successfully!</a>.
	</div>
</form>		
</div>	
	
		<div ng-if="showForm == false">
		<div class="row">
	      <div class="col s12"> <h4>IA Module</h4></div>
	      <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search</label>
        </div>
   		</div>
   		<div class="row">
   			<div class="col s6">
        		 <button class="btn waves-effect waves-light">Add Module
   					 <i class="material-icons right">send</i>
  				</button>
        	</div>
        	<div class="col s6">
        	<div class="switch float-right">
			    <label>
			      <strong>Filter</strong> Off
			      <input type="checkbox" ng-model="tableFilter" ng-click="tableFileterChanged()">
			      <span class="lever"></span>
			      On
			    </label>
			</div>
        	</div>
        </div>
			<table  class="striped">
				<thead>
					<tr>
						<th>SL#</th>
						<th>RTC_ID</th>
						<th>Application Name</th>
						<th>Analysis</th>
						<th>Design</th>
						<th>Build</th>
						<th>System Testing</th>
						<th>PRT</th>
						<th>L2 Effort</th>
						<th>PM Effort</th>
						<th>Misc Effort</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="tableFilter">
						<td></td>
						<td><input type="text" ng-model="filterRTCID"/></td>
						<td><input type="text" ng-model="filterAppForm"/></td>
						<td><input type="text" ng-model="filterAnalysis"/></td>
						<td><input type="text" ng-model="filterDesign"/></td>
						<td><input type="text" ng-model="filterBuild"/></td>
						<td><input type="text" ng-model="filterST"/></td>
						<td><input type="text" ng-model="filterPrt"/></td>
						<td><input type="text" ng-model="filterl2"/></td>
						<td><input type="text" ng-model="filterPmEffort"/></td>
						<td><input type="text" ng-model="filterMisc"/></td>
					</tr>
					<tr ng-repeat="module in moduleDetails | filter:{ rtc_id:filterRTCID,platform:filterPlatform, application_name:filterAppForm, 
					analysis:filterAnalysis, design:filterDesign, build:filterBuild, system_testing:filterST, prt:filterPrt, l2_effort:filterl2,
					pm_effort:filterPmEffort, misc_effort:filterMisc}">
						<td>{{$index+1}}</td>
						<td>{{module.rtc_id}}</td>
						<td>{{module.application_name}}</td>
						<td>{{module.analysis}}</td>
						<td>{{module.design}}</td>
						<td>{{module.build}}</td>
						<td>{{module.system_testing}}</td>
						<td>{{module.prt}}</td>
						<td>{{module.l2_effort}}</td>
						<td>{{module.pm_effort}}</td>
						<td>{{module.misc_effort}}</td>
					</tr>
				</tbody>
			</table>